<section class="intro">
	<h1 class="home-h1">Lipu pi toki pona
	<small>Read and learn Toki Pona</small></h1>
	<section>
		<p class="toki-pona">
			<span class="subj">toki </span><span class="subj comp">pona </span><span class="pred"><span class="particle">li </span>toki </span><span class="pred comp">lili.</span>
		<span class="subj">jan </span><span class="subj comp">Sonja </span><span class="pred"><span class="particle">li </span>mama </span><span class="pred comp"><span class="particle">pi </span>toki</span> <span class="pred comp comp">ni.</span>
		</p>
		<p class="toki-pona">
		<span class="cpre">kepeken </span><span class="cpre comp">toki </span><span class="cpre comp">pona<span class="particle"> la  </span></span><span class="subj">jan </span><span class="pred"><span class="particle">li </span>pilin </span><span class="pred comp">pona</span>.
		</p>

		<p class="english">Toki Pona is a language constructed by <a href="http://tokipona.org">Sonja Lang</a> using a lexicon of just 120 words. A thought expressed in Toki Pona is a thought boiled down to its essence.</p>
	</section>
	<section>
		<p class="toki-pona"><span class="subj">jan </span><span class="subj comp">Jatin </span><span class="pred"><span class="particle">li </span>pali </span><span class="pred drob"><span class="particle">e </span>lipu </span><span class="pred drob comp">ni</span>. <span class="pred"><span class="particle">o </span>lukin </span><span class="pred drob"><span class="particle">e </span>lipu </span><span class="pred drob comp">ni</span>, <span class="pred"><span class="particle">o </span>kama </span><span class="pred geru">sona </span><span class="pred geru drob"><span class="particle">e </span>toki </span><span class="pred geru drob comp"> pona</span>!</p>
		<p class="toki-pona">
			<span class="subj">jan </span><span class="subj comp">ale </span><span class="pred"><span class="particle">li </span>ken </span><span class="pred geru">lukin </span><span class="pred geru drob"><span class="particle">e </span>lipu </span><span class="pred geru drob comp">mute</span>, <span class="pred"><span class="particle">li </span>ken </span><span class="pred geru">pali </span><span class="pred geru drob"><span class="particle">e </span>lipu </span><span class="pred geru drob comp">sin</span><span class="emphatic"> a</span>!
		</p>
		<p class="english">The only way to learn a language is to use it. I've tried to make this easy for beginners with a <%= link_to'popup dictionary', document_path(1) %> and a tool for making <%= link_to 'word-by-word glosses', translation_path(1) %>. A grammar checker and phrase-level translations are coming soon.</p>
	</section>

	<section>


<!-- 		<h2>lipu pi toki tu</h2>

		<p>Here are some texts that have already been prepared with glosses.</p>

		<h2>lipu pi toki wan</h2>

		<p>These texts don't have glosses yet. Why don't you try making one yourself?</p>
 -->
	</section>

</section>