  <div id="root"></div>

  <% if @translation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@translation.errors.count, "error") %> prohibited this translation from being saved:</h2>

      <ul>
      <% @translation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <input type="hidden" id="translation_analysis" name="translation[analysis]">
  </div>
  
  <div class="actions">
    <%= f.submit onclick: "document.getElementById('translation_analysis').value = translation.package();" %>
  </div>


<%= render 'mount' %>